.PlanCard h2,
.PlanCard h3,
.PlanCard h5 {
    color: #011e3d;
}

.PlanCard .button {
    background-color: #c0ec6f;
    color: #011e3d;
    border-radius: 5vh;
    padding: 3vh 0;
    width: 100%;
    text-align: center;
}
a {
    text-decoration: none !important;
}