button {
    border-radius: 5px !important;
    padding: 10px 0;
    width: 15vh;
    background-color: white;
    color: #011e3d;
}

button:hover {
    background-color: #e5e9ec;
}

.image {
    height: 35px;
    width: 35px;
}

.filters {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column;
    margin-top: 50px !important;
}

.filters p {
    text-align: center;
}

.Todo,
.Hotel,
.Avión,
.Tren,
.Bus,
.Entradas {
    align-self: center;
    text-align: center;
    width: 60px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0px;
    object-fit: cover;
}

.Todo {
    background-image: url('./../../assets/all.png');
}

.Hotel {
    background-image: url('./../../assets/hotel.png');
}

.Avión {
    background-image: url('./../../assets/flight.png');
}

.Tren {
    background-image: url('./../../assets/train.png');
}

.Bus {
    background-image: url('./../../assets/bus.png');
}

.Entradas {
    background-image: url('./../../assets/tickets.png');
}