.ProfileImage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -140px;
}

.backgroundLine {
    width: 100vw;
    height: 20vh;
    background-color: #ceec97;
    position: relative;
    z-index: -1;
}

.ProfileImage h1 {
    top: 137px;
    font-size: 3rem;
    color: #001E3D;
}

.ProfileImage img {
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    width: 150px;
    height: 150px;
    top: 210px;
}

.basicButton {
    text-decoration: none;
    border: 1px solid #001E3D;
    border-radius: 10px;
    color: #001E3D;
    padding: 5px;
}