.mapContainer {
    width: 80vw;
    height: 50vh;
    margin: auto;
    border-radius: 30px;
    margin-top: 1em
}

.infoWindow p {
    font-size: 1em !important;
}

.infoWindow button {
    border: none;
    width: max-content;
    font-size: 1.2em;
    font-weight: 700;
}