.userCard {
    flex-direction: column;
}

.addToGroupButton,
.unChecked {
    border: 0px;
}

.addToGroupButton p {
    font-size: 3em;
}

.Participants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userCard img,
.cardRow img {
    width: 100px;
    border-radius: 50px;
    margin: 0 0 10px 10px;
}

.userCard2 img {
    width: 60px;
    border-radius: 50px;
    margin: 0 0 0 20px;
}

.checked,
.unChecked,
.delete {
    align-self: center;
    text-align: center;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0px;
    margin-right: 10px;
}

.checked {
    background-image: url('./../../assets/checked.png');
}

.unChecked {
    background-image: url('./../../assets/unchecked.png');
}

.delete {
    background-image: url('./../../assets/deleteMember.png');
    background-color: transparent !important;
}