.friendCard {
    display: flex;
    align-items: center;

}

.friendCard img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.FriendList {
    display: flex;
    justify-content: space-between;
}

.myButton2 {
    background-color: #ceec97 !important;
    border: #ceec97 1px !important;
    color: #001E3D !important;
    border-radius: 30px !important;
}

.myButton {
    background-color: #001E3D !important;
    border: #001E3D 1px !important;
    color: white !important;
    border-radius: 30px !important;
}

.deleteButton {
    height: 35px;
    align-self: center;
    text-align: center;
}

.inputField {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.inputField label {
    margin-right: 50px;
}

.iconButton img {
    height: 30px
}

.iconButton {
    border: 0;
    height: 50px;
    width: 50px;
    align-self: center;
    text-align: center;
}