.ErrorPage {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    background-color: rgb(219, 54, 70, 0.5) !important;
    width: 50vw;
    text-align: center;
    box-shadow: 20px 20px 20px rgb(0, 31, 61, 0.4) !important;
}