.PlanCard h2,
.PlanCard h3,
.PlanCard h5 {
    color: #011e3d;
}

.PlanCard figure {
    width: 100%;
}

.PlanCard img {
    width: 100%;
}

.PlanCard .button {
    background-color: #c0ec6f;
    color: #011e3d;
    border-radius: 5vh;
    padding: 3vh 0;
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none !important;
}

.recomedationCard {
    display: flex;

}

.recomedationCard img {
    margin-right: 50px;
    width: 40%;
    object-fit: cover
}

.saveButton {
    background-color: #c0ec6f !important;
    border-radius: 30px !important;
    border: 0;
    text-align: center !important;
    line-height: 25px !important;
    color: #011e3d !important;
    font-weight: 500 !important;
    width: 400px !important
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.placeIcon {
    font-size: 2.5em;
    margin-right: 30px;
    text-align: center;
    align-items: center;
}

.recomedationCard h1 {
    padding-top: 20px;
}

.recomedationCard h5 {
    font-weight: 600 !important;
    margin: 0;
}