.place-input {
    border-radius: 30px;
    margin-top: 2em;
    line-height: 2em !important;
}

.addPlaceBtn {
    border-radius: 30px !important;
    background-color: #CEEC97 !important;
    border: 0px;
    font-weight: 500 !important;
    line-height: 2em !important;
}