h5 {
    font-weight: 900;
    color: #001e3d;
}

img {
    width: 100%;
    border-radius: 20px;
}

p {
    color: #001e3d;
    font-size: 17px;
    margin: 0 !important;
}

.icon {
    color: #001e3d;
    width: 4vh;
    height: 4vh;
}