.Booked {
    color: #011e3d;
    background-color: #e6e6e6;
    margin: 3vh 0;
    padding: 2vh 0;
    border-radius: 3vh;
    border: 0.3vh #011e3d solid
}

.see-document {
    background-color: #e6e6e6;
    align-self: center;
    text-align: center;
    width: 25px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0px;
    object-fit: cover;
    background-image: url('../../assets/seeDoc.png');
}

h5 {
    font: bolder;
}