h1,
h3 {

    color: #011e3d !important;
    font-weight: 1000 !important;
}

.btnAdd {
    background-color: #c0ec6f;
    border-radius: 30px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}