.trip-label {
    color: #001e3d !important;
}

.trip-input {
    border: 1px solid #001e3d !important;
    color: #001e3d !important;
    border-radius: 13px !important;
}

.trip-input::placeholder {
    color: #001e3d !important;
}

.primary-button {
    background-color: #ceec97 !important;
    border-color: #c1ec70 !important;
    color: #001e3d !important;
    border-radius: 30px !important;
    width: 100%;
    line-height: 50px !important;
    font-size: 1.5em !important;
    font-weight: 500 !important;
}

.navButtons {
    margin-right: 20px;
    text-decoration: none;
    color: white;
}